* {
  background-color: hsl(30, 38%, 92%);
  margin: 0px;
  padding: 0px;
}

#perfume {
  font-family: "Montserrat", serif;
  font-weight: 14px;
}

.picture {
  width: 20px;
  padding-left: 110px;
}

.body {
  float: right;
  background-color: white;
  padding-left: 150px;
  padding-bottom: 80px;
  padding-right: 50px;
  height: 350px;
  width: 80px;
  padding-right: 200px;
  margin: 10px;
}

#mainheading {
  width: 170px;
  font-family: "Fraunces", serif;

  font-size: 40px;
  font-weight: bold;
}
#textArea {
  padding-top: 30px;
  word-wrap: normal;
  width: 300px;
  font-family: "Fraunces", serif;
}

#price {
  background-color: hsl(158, 36%, 37%);
}
