@import 'utilites.css';

:root{
--dark-red: rgb(71, 13, 33);
--pink: rgb(104, 37, 60);
--brown:  rgb(139, 67, 17);
--beige:  rgb(214, 125, 62);

}


* {
  margin: 10px;
  font-size: 18px;
  font-family: "Fira Sans", sans-serif;

}

html {
  scroll-behavior: smooth;
}

.header-div {
  display: flex;
  margin: 0px;
  padding: 5px 5px;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background-color: var(--dark-red);
  color: white;
  height: 55px;
  justify-content: space-evenly;
}

#header-link1:hover,
#header-link2:hover,
#header-link3:hover {
  color: var(--beige);
  transition: all .4s ease;
}

ul {
  list-style-type: upper-alpha;
}

#heading {
  font-size: 60px;
  font-weight: bold;
  margin-left: 5px;
  width: 600px;
  color: var(--beige)
}

.main-section {
padding-top: 3rem;
  justify-content: space-between;
  display: flex;
  left: 0;
}



.contact {
  border-color: var(--dark-red);
  background-color: white;
  height: 40px;
  width: 130px;
  color: var(--dark-red);
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 2px;
  margin-left: 0px;
  width: 140px;
  padding: 0.2rem 1rem;
}

.contact:hover {
  background-color: var(--dark-red);
  border: none;
  color: white;
  transition: all .3s ease;
}

#image {
  display: flex;
  height: 500px;
  width: 370px;
  border-radius: 20px;
  align-items: end;
  margin: 0;
  padding: 0;
  border: 0;
}

.skill-div {
  display: flex;
  width: 440px;
}

.skill-1,
.skill-2,
.skill-3,
.skill-4,
.skill-5 {
  padding: 10px;
  text-align: center;
  letter-spacing: 1px;
  height: 17px;
  margin-left: 0px;
  display: flex;
}

.skill-1 {
  background-color: rgb(214, 125, 62);
  color: white;
}

.skill-2 {
  background-color: rgb(133, 62, 87);
  color: white;
}

.skill-3 {
  background-color: rgb(139, 67, 17);
  color: white;
}

.skill-4 {
  background-color: rgb(249, 228, 212);
}

.skill-5 {
  background-color: rgb(209, 66, 123);
  color: white;
}

#mission {
  margin-top: 50px;
  color: rgb(199, 44, 65);
  margin-left: 0px;
  font-size: 22px;
  height: 200px;
  width: 400px;
  font-weight: bold;
}

/*Projects*/

.project-div-heading {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-left: 0px;
}

/* .project-div {
  display: flex;
  height: 300px;
  margin-left: 10px;
} */

.project-div{
  display: grid;
  grid-template-columns: repeat(3,1fr);  /* repeat design 3 times with 1fr*/

}


.project1,
.project2,
.project3,
.project4 {
  color:var(--dark-red);
  padding: 15px;
  text-align: center;
  border-radius: 50px 50px 0px 0px;
  width: 140px;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: rgb(249, 228, 212);
  cursor: pointer;
  height: 240px;
}

#project-imgs {
  height: 50px;
  width: 50px;
padding: 1rem;
}

.project1:hover, .project2:hover,
.project3:hover,
.project4:hover{
  color: white;
  background-color: rgb(180, 150, 128);
  transition: 2s ;
}


#section-heading {
  display: flex;
  font-size: 42px;
  font-weight: bolder;
  color: rgb(214, 125, 62);
  letter-spacing: 7px;
  text-align: center;
  align-items: center;
}

/*Experience*/

#Experience {
  display: flex;
}

#sub-heading {
  font-size: 20px;
  color: rgb(214, 125, 62);
}

#main-heading {
  margin-left: 0px;
  color: rgb(156, 15, 72);
  font-size: 20px;
  display: flex;
  font-weight: bolder;
}

/*Education*/
.Education {
  display: flex;
  justify-content: space-between;
}

.footer-content {
  margin: 0px;
  width: 100%;
  padding: 5px;
  height: 260px;
  color: white;
  background-color: var(--dark-red);
}

#footer-icon {
  height: 30px;

}