* {
  /* font-family: "Fraunces", serif; */
  font-family: "Montserrat", sans-serif;
}

#name {
  color: #e75151;
  height: 50px;
  font-weight: bold;
  font-size: 40px;
  padding-top: 80px;
}

#myPic {
  float: right;
  display: flex;
  height: 550px;
  width: 300px;
  border-radius: 30px;
  padding: 10px;
  margin: 6px;
  border: 6px;
}

.header {
  padding-top: 0;
  padding: 8px;
  margin: 2px;
  border: 2px;
  display: flex;
  background-color: #57385c;
  height: 50px;
  width: 1310px;
  font-size: 18px;
  justify-content: space-around;
}

#homeIcon {
  justify-content: start;
  background-color: #57385c;
  display: flex;
  height: 20px;
  width: 15px;
}

#briefcase {
  background-color: #57385c;
  display: flex;
  height: 20px;
  width: 15px;
}

#skills {
  display: flex;
  background-color: #57385c;
  height: 20px;
  width: 15px;
}

#hat {
  background-color: #57385c;
  display: flex;
  height: 20px;
  width: 15px;
}

footer {
  background-color: #57385c;
  padding: 6px;
  margin: 2px;
  border: 2px;
  width: 1330px;
  color: white;
}

#headerIcons {
  background-color: #57385c;
  justify-content: center;
}

#footerIcon {
  display: flex;
  background-color: #57385c;
  height: 40px;
  width: 40px;
}

#AboutMe {
  padding: 9px;
  margin: 2px;
  border: 2px;
}

#Icon {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
