* {
    font-family: "Fraunces", serif;
    font-family: "Montserrat", sans-serif;
  }
  
  #heading {
  padding: 6px;
    font-size: 30px;
    background-color: #a75265; 
    height: 50px;
    color: white;
  }
  
  .header {
    padding-top: 0;
    padding: 8px;
    margin: 2px;
    border: 2px;
    display: flex;
   background-color:  #57385c; 
   justify-content: space-around;
    height: 50px;
    width: 1330px;
    font-size: 18px;
  }
  

  
  #homeIcon{
    background-color:  #57385c; 
    display: flex;
    height: 20px;
    width: 15px; 
  }

  #briefcase {
    background-color:  #57385c; 
    display: flex;
    height: 20px;
    width: 15px;
  }
  
  #skills {
    display: flex;
    background-color:  #57385c; 
    height: 20px;
    width: 15px;
  }
  
  #hat {
    background-color:  #57385c; 
    display: flex;
    height: 20px;
    width: 15px;
  }
  
  #jobs {
    color: #ec7263;   
    padding: 4px;
    font-size: 22px;
    font-weight: bold;
  }

  footer {
    background-color:  #57385c; 
    padding: 6px;
    margin: 0px;
    border: px;
    width: 1330px;
    color:  #fff591;
  }
  
#headerIcons{
  background-color:  #57385c; 
  justify-content: center;
}

  #footerIcon {
    display: flex;
    background-color:  #57385c; 
    height: 40px;
    width: 40px;
  }

