* {
  background-color: rgb(242, 227, 219);
  padding: 10px;
}

#briefcase {
  display: flex;
  height: 20px;
  width: 15px;
}

.header {
  padding: 0;
  margin: 0;
  border: 0;
  display: flex;
  justify-content: space-between;
  background-color: rgb(144, 161, 125);
  height: 50px;
  width: vh;
  font-size: 18px;
}

#skills {
  display: flex;
  height: 20px;
  width: 15px;
}

#hat {
  display: flex;
  height: 20px;
  width: 15px;
}

#content {
  font-size: 15px;
}
